<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtQa0nRYIvC9BRAK2PomhAbH3zbIu6GNs</string>
	<key>GCM_SENDER_ID</key>
	<string>964633969151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Smruthi-Pobbathi.MessengerApp</string>
	<key>PROJECT_ID</key>
	<string>messengerapp-16366</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerapp-16366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964633969151:ios:3505e3aa9b10867cc9a7ca</string>
</dict>
</plist>